@tailwind base;
@tailwind components;

.ingredient-box {
  @apply flex items-center w-36 h-36 border-4 border-rose-500 rounded-3xl select-none;
}

.hero-step {
  @apply w-40 px-3 pb-2 pt-1 border-4 border-transparent;
}

.hero-step:hover, .hero-step:active{
  @apply border-rose-500 bg-rose-500 rounded-2xl text-white;
}

@tailwind utilities;